/* Banner */

#banner {
  background-color: #3a3a3a;
  color: #ffffff;
  padding-bottom: 7.25rem;
  padding: 10rem 0 8rem 0;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background-attachment: fixed, fixed;
  background-image: linear-gradient(
      90deg,
      rgba(58, 58, 58, 0.6),
      rgba(58, 58, 58, 0.6)
    ),
    url("/blivande.jpg");
  background-position: center, center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  min-height: calc(75vh + 7rem);
  position: relative;
  text-align: center;
}

#pagebanner {
  color: #ffffff;
  padding-bottom: 7.25rem;
  padding: 10rem 0 8rem 0;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-justify-content: center;
  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  background-attachment: fixed, fixed;
  background-image: url("/beta.jpg");
  background-position: center, center;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
  height: calc(100vh + 7rem);
  position: relative;
  text-align: center;
}

#pagebanner img {
  max-height: calc(25vh + 3rem);
  margin: auto;
}

#banner img {
  max-height: calc(25vh + 3rem);
  margin: auto;
}


#pagebanner h1{
  color: #ffffff;
}

#banner input[type="submit"],
#banner input[type="reset"],
#banner input[type="button"],
#banner button,
#banner .button {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #ffffff;
  color: #ffffff !important;
}

#banner input[type="submit"]:hover,
#banner input[type="reset"]:hover,
#banner input[type="button"]:hover,
#banner button:hover,
#banner .button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

#banner input[type="submit"]:hover:active,
#banner input[type="reset"]:hover:active,
#banner input[type="button"]:hover:active,
#banner button:hover:active,
#banner .button:hover:active {
  background-color: rgba(255, 255, 255, 0.25);
}

#banner input[type="submit"].primary,
#banner input[type="reset"].primary,
#banner input[type="button"].primary,
#banner button.primary,
#banner .button.primary {
  background-color: #5ADCF8;
  background-image: url("/overlay.png"),
    linear-gradient(45deg, rgba(71, 151, 236, 0), #39A0ED 80%);
  background-size: auto, auto;
  background-repeat: repeat, no-repeat;
  box-shadow: 0 0.5rem 1.75rem 0 rgba(0, 0, 0, 0.25);
  color: #ffffff !important;
}

#banner input[type="submit"].primary:hover,
#banner input[type="reset"].primary:hover,
#banner input[type="button"].primary:hover,
#banner button.primary:hover,
#banner .button.primary:hover {
  background-color: #6cacf0;
}

#banner input[type="submit"].primary:hover:active,
#banner input[type="reset"].primary:hover:active,
#banner input[type="button"].primary:hover:active,
#banner button.primary:hover:active,
#banner .button.primary:hover:active {
  background-color: #2882e2;
}

#banner input,
#banner select,
#banner textarea {
  color: #ffffff;
}

#banner a {
  color: #ffffff;
}

#banner strong,
#banner b {
  color: #ffffff;
}

#banner h1,
#banner h2,
#banner h3,
#banner h4,
#banner h5,
#banner h6 {
  color: #ffffff;
}

#banner blockquote {
  border-left-color: #ffffff;
}

#banner code {
  background: rgba(255, 255, 255, 0.05);
  border-color: #ffffff;
}

#banner hr {
  border-bottom-color: #ffffff;
}

#banner header.major h1:after,
#banner header.major h2:after,
#banner header.major h3:after,
#banner header.major h4:after,
#banner header.major h5:after,
#banner header.major h6:after {
  background: #ffffff;
}

#banner:after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1900' height='150' viewBox='0 0 1900 150' preserveAspectRatio='none'%3E%3Cpath d='M0,25.7C243.4,84,596.7,150,950,150c353.3,0,706.6-66,950-124.3V150H0V25.7z' fill='%23ffffff'/%3E%3C/svg%3E");
  background-size: 100% 100%;
  background-position: center;
  bottom: -1px;
  content: '';
  height: 8rem;
  left: 0;
  position: absolute;
  width: 100%;
  box-shadow: inset 0 -1px 0 0 #ffffff;
}

@media screen and (max-width: 1280px) {
  #banner {
    padding-bottom: 5.25rem;
  }

  #banner:after {
    background-size: 125% 100%;
    height: 6rem;
  }
}

@media screen and (max-width: 736px) {
  #banner {
    padding-bottom: 3.25rem;
  }

  #banner:after {
    background-size: 125% 100%;
    height: 4rem;
  }
}

#banner:before {
  pointer-events: none;
  -moz-transition: opacity 2s ease-in-out 0.75s;
  -webkit-transition: opacity 2s ease-in-out 0.75s;
  -ms-transition: opacity 2s ease-in-out 0.75s;
  transition: opacity 2s ease-in-out 0.75s;
  background: #333333;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

#banner > .content {
  -moz-transition: -moz-transform 1s ease-in-out, opacity 1.25s ease-in-out;
  -webkit-transition: -webkit-transform 1s ease-in-out,
    opacity 1.25s ease-in-out;
  -ms-transition: -ms-transform 1s ease-in-out, opacity 1.25s ease-in-out;
  transition: transform 1s ease-in-out, opacity 1.25s ease-in-out;
  position: relative;
  z-index: 1;
}

#banner > .content > :last-child {
  margin-bottom: 0;
}

body.is-preload #banner:before {
  opacity: 1;
}

body.is-preload #banner > .content {
  -moz-transform: translateY(0.75rem);
  -webkit-transform: translateY(0.75rem);
  -ms-transform: translateY(0.75rem);
  transform: translateY(0.75rem);
  opacity: 0;
}

@media screen and (max-width: 1280px) {
  #banner {
    padding: 7.5rem 0 5.5rem 0;
  }
}

@media screen and (max-width: 980px) {
  #banner {
    padding: 7.5rem 6rem 5.5rem 6rem;
    background-attachment: scroll, scroll;
  }
}

@media screen and (max-width: 736px) {
  #banner {
    padding: 8rem 2rem 6rem 2rem;
    min-height: 0;
  }
}

@media screen and (max-width: 480px) {
  #banner {
    padding: 10rem 2rem 8rem 2rem;
  }
}

@media screen and (max-width: 480px) {
  #banner br {
    display: none;
  }
}


@media screen and (max-width: 1280px) {
  #pagebanner {
    padding: 7.5rem 0 5.5rem 0;
  }
}

@media screen and (max-width: 980px) {
  #pagebanner {
    padding: 7.5rem 6rem 5.5rem 6rem;
    background-attachment: scroll, scroll;
  }
}

@media screen and (max-width: 736px) {
  #pagebanner {
    padding: 8rem 2rem 6rem 2rem;
    min-height: 0;
  }
}

@media screen and (max-width: 480px) {
  #pagebanner {
    padding: 10rem 2rem 8rem 2rem;
  }
}

@media screen and (max-width: 480px) {
  #pagebanner br {
    display: none;
  }
}