/* Footer */

#footer {
  background-color: #3a3a3a;
  color: #ffffff;
  margin-top: 8rem;
  padding: 8rem 0 6rem 0;
  background-attachment: fixed, fixed;
  background-image: linear-gradient(
      90deg,
      rgba(58, 58, 58, 0.6),
      rgba(58, 58, 58, 0.6)
    ),
    url("/blivande.jpg");
  background-position: center, center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  position: relative;
  text-align: center;
}

#footer input,
#footer select,
#footer textarea {
  color: #ffffff;
}

#footer a {
  color: #ffffff;
}

#footer strong,
#footer b {
  color: #ffffff;
}

#footer h1,
#footer h2,
#footer h3,
#footer h4,
#footer h5,
#footer h6 {
  color: #ffffff;
}

#footer blockquote {
  border-left-color: #ffffff;
}

#footer code {
  background: rgba(255, 255, 255, 0.05);
  border-color: #ffffff;
}

#footer hr {
  border-bottom-color: #ffffff;
}

#footer header.major h1:after,
#footer header.major h2:after,
#footer header.major h3:after,
#footer header.major h4:after,
#footer header.major h5:after,
#footer header.major h6:after {
  background: #ffffff;
}

#footer a.icon.alt:before {
  -moz-transition: background-color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out;
  -ms-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

#footer a.icon.alt:hover:before {
  background-color: rgba(255, 255, 255, 0.05);
}

#footer a.icon.alt:active:before {
  background-color: rgba(255, 255, 255, 0.175);
}

#footer:before {
  -moz-transform: scaleY(-1);
  -webkit-transform: scaleY(-1);
  -ms-transform: scaleY(-1);
  transform: scaleY(-1);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1900' height='150' viewBox='0 0 1900 150' preserveAspectRatio='none'%3E%3Cpath d='M0,25.7C243.4,84,596.7,150,950,150c353.3,0,706.6-66,950-124.3V150H0V25.7z' fill='%23ffffff'/%3E%3C/svg%3E");
  background-size: 100% 100%;
  background-position: center;
  content: '';
  height: 8rem;
  left: 0;
  position: absolute;
  top: -1px;
  width: 100%;
  box-shadow: inset 0 -1px 0 0 #ffffff;
}

@media screen and (max-width: 1280px) {
  #footer {
    padding-top: 10.75rem;
  }

  #footer:before {
    background-size: 125% 100%;
    height: 6rem;
  }
}

@media screen and (max-width: 736px) {
  #footer {
    padding-top: 6.75rem;
  }

  #footer:before {
    background-size: 125% 100%;
    height: 4rem;
  }
}

@media screen and (max-width: 1280px) {
  #footer {
    padding: 6rem 0 4rem 0;
    background-attachment: scroll, scroll;
  }
}

@media screen and (max-width: 736px) {
  #footer {
    padding: 4rem 0 2rem 0;
  }
}