/* List */

ol {
  list-style: decimal;
  margin: 0 0 2rem 0;
  padding-left: 1.25rem;
}

ol li {
  padding-left: 0.25rem;
}

ul {
  list-style: disc;
  margin: 0 0 2rem 0;
  padding-left: 1rem;
}

ul li {
  padding-left: 0.325rem;
}

ul.alt {
  list-style: none;
  padding-left: 0;
}

ul.alt li {
  border-top: solid 1px;
  padding: 0.75rem 0;
}

ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}

ul.alt li:last-child {
  padding-bottom: 0;
}

dl {
  margin: 0 0 2rem 0;
}

dl dt {
  display: block;
  font-weight: 400;
  margin: 0 0 1rem 0;
}

dl dd {
  margin-left: 1.5rem;
}

ul.alt li {
  border-top-color: rgba(0, 0, 0, 0.125);
}