/* Spotlights */

.spotlights {
  margin: 0 0 2rem 0;
}

.spotlights section {
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  margin-top: -3rem;
  padding-bottom: 6rem;
}

.spotlights section .image {
  -moz-flex-grow: 0;
  -webkit-flex-grow: 0;
  -ms-flex-grow: 0;
  flex-grow: 0;
  -moz-flex-shrink: 0;
  -webkit-flex-shrink: 0;
  -ms-flex-shrink: 0;
  flex-shrink: 0;
  border-radius: 100%;
  box-shadow: 0 1rem 3rem 0 rgba(0, 0, 0, 0.25);
  margin: 0 6rem 0 0;
  width: 30rem;
}

.spotlights section .image v-img {
  border-radius: 100%;
  display: block;
  width: 100%;
}

.spotlights section .content img {
  width: 100%;
  max-width: 450px;
  text-align: left;
  margin-bottom: 15px;
}

.spotlights section .content {
  -moz-flex-grow: 1;
  -webkit-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  -moz-flex-shrink: 1;
  -webkit-flex-shrink: 1;
  -ms-flex-shrink: 1;
  flex-shrink: 1;
  -moz-justify-content: left;
  -webkit-justify-content: left;
  -ms-justify-content: left;
  justify-content: left;
}

.spotlights section .content header.major h3:after {
  margin-right: auto;
}

.spotlights section:first-child {
  margin-top: 0;
}

.spotlights section:nth-child(2n) {
  -moz-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
  text-align: right;
  -moz-justify-content: right;
  -webkit-justify-content: right;
  -ms-justify-content: right;
  justify-content: right;
}

.spotlights section:nth-child(2n) .image {
  margin: 0 0 0 3rem;
}

.spotlights section:nth-child(2n) .content img {
  width: 100%;
  max-width: 450px;
  text-align: right;
  margin-bottom: 15px;
}

.spotlights section:nth-child(2n) .content header.major h3:after {
  margin-left: auto;
  margin-right: 0;
}


.spotlights section:last-child {
  margin-bottom: 0rem;
  padding-bottom: 5rem;
}

@media screen and (max-width: 1280px) {
  .spotlights section {
    margin-top: 3rem;
  }

  .spotlights section .image {
    margin: 0 4rem 0 0;
    width: 20rem;
  }

  .spotlights section:nth-child(2n) .image {
    margin: 0 0 0 4rem;
  }
}

@media screen and (max-width: 980px) {
  .spotlights section {
    display: block;
    text-align: center;
  }

  .spotlights section .image {
    margin: 0 0 3rem 0;
    max-width: 100%;
  }

  .spotlights section .content header.major h3:after {
    margin-left: auto;
    margin-right: auto;
  }

  .spotlights section:nth-child(2n) {
    text-align: center;
  }

  .spotlights section:nth-child(2n) .image {
    margin: 0 0 3rem 0;
  }

  .spotlights section:nth-child(2n) .content header.major h3:after {
    margin-left: auto;
    margin-right: auto;
  }

  .spotlights section:nth-child(2n) .content header.major p > ul {
    direction: rtl;
  }
}

@media screen and (max-width: 736px) {
  .spotlights section .image {
    width: 15rem;
    margin: 0 0 2rem 0;
  }

  .spotlights section:nth-child(2n) .image {
    margin: 0 0 2rem 0;
  }
}