// Import Vuetify styling
@import '~vuetify/src/stylus/theme.styl'

$body-font-family = "IBM Plex Sans", Helvetica, sans-serif !important;
$material-light.background = #fff;

@require '~vuetify/src/stylus/main.styl'
